{{define "yield"}}

  <div class="shell-wrap">
      <p class="shell-top-bar">$bin/bash</p>
      <ul class="shell-body">

        {{range .Data}} 
          <pre> 
              {{.}}
          </pre>  
        {{end}}

      </ul>
  </div>

{{end}}